@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SessionCreateDto

<div class="container my-5">

    <h1>Add Session</h1>

    <div class=col-md-6>

        <form asp-action="AddSession" method="post" asp-controller="Employee" enctype="multipart/form-data">

            <div class="form-group mb-3">
                <label asp-for="@Model.SessionTime"></label>
                <input asp-for="@Model.SessionTime" class="form-control" />
                <span asp-validation-for="@Model.SessionTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.SessionHour"></label>
                <input asp-for="@Model.SessionHour" class="form-control" />
                <span asp-validation-for="@Model.SessionHour" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Movies :</label>
                <select onchange="setInputVisibility()" asp-for="MovieId" asp-items="@ViewBag.Movies" class="form-select">
                </select>
            </div>
            <div class="mb-3">
                <label>Scenes :</label>
                <select onchange="setInputVisibility()" asp-for="SceneId" asp-items="@ViewBag.Scenes" class="form-select">
                </select>
            </div>
            <hr class="my-4">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add Session</button>
            </div>
        </form>

    </div>

</div>